body,
html {
  width: 100%;
  height: 100%;
  margin: 0;
  font-size: 1em;
  color: white;
  text-align: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.blue1
{
  background-color: white;
}

.blue2
{
  background-color: #0a1724;
}

p {
  font-size: calc(0.8rem + 0.7vw);
}

h1 {
  font-size: calc(1rem + 1vw);
  padding-top: 25px;
  padding-bottom: 30px;
}

h4 {
  font-size: calc(1rem + 0.8vw);
  font-weight: 400;
  margin: 0;
  margin-left: 25px;
}

p,
h1 {
  margin: 0;
  margin-left: 50px;
  margin-right: 50px;
}

#contenu-dev {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#text-dev {
  margin-bottom: 15px;
}

#all-content {
  display: flex;
  flex-direction: column;
}

#skillflex {
  margin-right: 50px;
  margin-left: 50px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#jauge {
    width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

#skillflex, #jauge {
  gap: 25px;
}

.skills {
  display: flex;
}

#skill-img-veille {
  width: 100px;
  transition: 0.5s;
}

#skill-img-proj {
  width: 100px;
  transition: 0.5s;
}

#skill-img-proj:hover,
#skill-img-veille:hover {
  transform: scale(1.3);
}

#jaugeskill {
  margin-top: 170px;
  margin-bottom: 190px;
  display: flex;
  gap: 25px;
  row-gap: 150px;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

#jaugelang {
  display: flex;
}

.skillbar {
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 100%;
  object-fit: cover;
  padding-left: 25px;
  padding-right: 25px;
}

.img-logo {
  margin: auto;
  transition: 0.4s;
}

.img-logo:hover {
  transform: scale(1.2);
}

.skillbar::-webkit-progress-bar {
  background-color: #3d476b;
  border-radius: 15px;
}

.skillbar::-webkit-progress-value {
  background: linear-gradient(269.49deg, #1d8ecd 0%, #052cb4 100%);
  border-radius: 15px 0px 0px 15px;
}
.skillbar::-moz-progress-bar {
  background: linear-gradient(269.49deg, #1d8ecd 0%, #052cb4 100%);
  border-radius: 15px 0px 0px 15px;
  transform: rotate(90deg);
}

.pj p {
  padding: 10px;
  font-weight: 300;
  color: #0a1724;
  position: absolute;
  z-index: 100;
  margin: auto;
}

.losange {
  border-width: 0px;
  border-color: white;
  border-style: solid;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 50%;
  width: 50%;
  margin: auto;
  margin-top: 25%;
  transform: rotate(45deg);
  transition: 0.5s;
  background-size: cover;
  box-shadow: inset 0 0 0 1000px rgba(255,255,255,1);
}

.portfolio{
  background-image: url(../assets/photos/web.jpg);
}

#list-project {
  margin: auto;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 20px;
}

.pj {
  width: 330px;
  height: 330px;
  border: 10px #002d46;
  border-radius: 20px;
  background-color: #002d46;
  margin: 20px;
  margin-top: 50px;
  transition: 0.5s;
}

.losange p {
  transition: 0.5s;
}


.losange:hover p {
  color: white;

}

.losange:hover{
  border-width: 3px;
  border-radius: 5px;
  opacity: 1;
  box-shadow: inset 0 0 0 1000px rgba(255,255,255,0);

}

.pj:hover,
.pj:hover .losange {

  transform: rotate(0deg);
}

.bloc-atout{
  display: flex;
  align-items: center;
}

/* Header */

header{
  position: unset !important;
  background-color: #0A1724 !important;
}

@media (max-height: 620px)
{
  header{
    height: 10vw !important;
  }
}

#logo{
  height: 75px;
}

#contenu-dev,
#projects {
  background-color: #0a1724;
}

#contenu-multi {
  background-color: white;
  color: #002d46;
}

.softbar {
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 100px;
  height: 20px;
  transform-origin: center;
  translate: -100px 75px;
  transform: rotate(-90deg);
}

.softbar::-webkit-progress-bar {
  background-color: #3d476b;
  border-radius: 15px;
  transform: rotate(-90deg);
  transform: translate(0px, 100px);
}

.softbar::-webkit-progress-value {
  background: linear-gradient(
    269.49deg,
    #02b998 63.02%,
    #0084a2 90.1%,
    #004554 100%
  );
  border-radius: 15px 0px 0px 15px;
}
.softbar::-moz-progress-bar {
  background: linear-gradient(
    269.49deg,
    #02b998 63.02%,
    #0084a2 90.1%,
    #004554 100%
  );
  border-radius: 15px 0px 0px 15px;
  transform: rotate(90deg);
}

#software {
  margin-top: 8%;
  flex-wrap: wrap;
  display: flex;
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 250px;
  row-gap: 200px;
  justify-content: space-evenly;
  column-gap: 25px;
}

.logo-software {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 20%;
}

.img-logo {
  width: 100px;
}



#logo:hover {
  transform: scale(1.2);
}


a {
  text-decoration: none;
}

@media(max-width: 1215px)
{
  #jaugeskill
{
  margin-top: 50px;
 row-gap: 75px;
}

}

@media (orientation: portrait) {

  p,
  h1,
  h4 {
    margin-left: 20px;
    margin-right: 20px;
  }

  .softbar {
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 90px;
  }

  .img-logo {
    width: 80px;
  }

  .pj {
    width: 200px;
    height: 200px;
  }

  .pj p {
    font-size: calc(0.5rem + 1.2vw);
  }

  .losange{
    transform: rotate(0deg);
  }

  .pj:hover,
.pj:hover .losange {
  transform: scale(1.1);

}

}

@media (min-width: 750px)
{

  #jauge {
    width: 40%;
  }
}
