body,
html {
  width: 100%;
  height: 100%;
  margin: 0;
  font-size: 1em;
  color: white;
  text-align: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

p {
  font-size: calc(1.1rem + 1.5vw);
}

h1 {
  font-size: calc(1.5rem + 1.5vw);
  padding-top: 25px;
  padding-bottom: 30px;
}

h4 {
  font-size: calc(1.2rem + 1.5vw);
  font-weight: 400;
  margin: 0;
  margin-left: 25px;
}

p,
h1 {
  margin: 0;
  margin-left: 50px;
  margin-right: 50px;
}

#contenu-dev {
  height: 100%;
}

#text-dev {
  margin-bottom: 15px;
}

#all-content {
  display: flex;
  flex-direction: column;
}

#skillflex {
  margin-right: 50px;
  margin-left: 50px;
  display: flex;
  flex-direction: column;
}

#jauge {
  gap: 30px;
  display: flex;
  flex-direction: column;
}

.skills {
  display: flex;
}

#skill-img-veille {
  width: 100px;
  margin-bottom: 35px;
  transition: 0.5s;
}

#skill-img-proj {
  width: 100px;
  transition: 0.5s;
}

#skill-img-proj:hover,
#skill-img-veille:hover {
  transform: scale(1.3);
}

#jaugeskill {
  margin-top: 170px;
  margin-bottom: 190px;
  display: flex;
  gap: 25px;
  row-gap: 150px;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

#jaugelang {
  display: flex;
}

.skillbar {
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 100%;
  object-fit: cover;
  padding-left: 25px;
  padding-right: 25px;
}

.img-logo {
  margin: auto;
  transition: 0.4s;
}

.img-logo:hover {
  transform: scale(1.2);
}

.skillbar::-webkit-progress-bar {
  background-color: #3d476b;
  border-radius: 15px;
}

.skillbar::-webkit-progress-value {
  background: linear-gradient(269.49deg, #1d8ecd 0%, #052cb4 100%);
  border-radius: 15px 0px 0px 15px;
}
.skillbar::-moz-progress-bar {
  background: linear-gradient(269.49deg, #1d8ecd 0%, #052cb4 100%);
  border-radius: 15px 0px 0px 15px;
  transform: rotate(90deg);
}

.pj p {
  padding-left: 10px;
  padding-right: 10px;
  font-weight: 300;
  color: #0a1724;
  position: absolute;
  z-index: 100;
  margin: auto;
}

.losange {
  display: flex;
  align-items: center;
  position: relative;
  background-color: white;
  height: 50%;
  width: 50%;
  margin: auto;
  margin-top: 25%;
  transform: rotate(45deg);
  transition: 0.5s;
}

#list-project {
  margin: auto;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 20px;
}

.pj {
  width: 370px;
  height: 370px;
  border: 10px #002d46;
  border-radius: 20px;
  background-color: #002d46;
  margin: 20px;
  margin-top: 50px;
  transition: 0.5s;
}

.losange p {
  transition: 0.5s;
}

.losange:hover p {
  color: #007ef5;
}

.pj:hover,
.pj:hover .losange {
  transform: scale(1.07);
  transform: rotate(0deg);
}

header {
  height: 100px;
  width: 100%;
  z-index: 3;
  position: static;
  display: flex;
  justify-content: center;
}

header,
#contenu-dev,
#projects {
  background-color: #0a1724;
}

#contenu-multi {
  background-color: #002d46;
}

.softbar {
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 150px;
  height: 25px;
  translate: -100px 100px;
  transform: rotate(-90deg);
}

.softbar::-webkit-progress-bar {
  background-color: #3d476b;
  border-radius: 15px;
  transform: rotate(-90deg);
  transform: translate(0px, 100px);
}

.softbar::-webkit-progress-value {
  background: linear-gradient(
    269.49deg,
    #02b998 63.02%,
    #0084a2 90.1%,
    #004554 100%
  );
  border-radius: 15px 0px 0px 15px;
}
.softbar::-moz-progress-bar {
  background: linear-gradient(
    269.49deg,
    #02b998 63.02%,
    #0084a2 90.1%,
    #004554 100%
  );
  border-radius: 15px 0px 0px 15px;
  transform: rotate(90deg);
}

#software {
  margin-top: 8%;
  flex-wrap: wrap;
  display: flex;
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 250px;
  row-gap: 200px;
  justify-content: space-evenly;
}

.logo-software {
  display: flex;
  flex-direction: column;
}

.img-logo {
  width: 150px;
}

#logo {
  height: 125%;
  transition: 0.5s;
}

#logo:hover {
  transform: scale(1.2);
}

#home {
  height: 50%;
  margin-top: 25px;
}

a {
  text-decoration: none;
}

@media (orientation: portrait) {
  #logo {
    height: 150%;
  }

  p,
  h1,
  h4 {
    margin-left: 20px;
    margin-right: 20px;
  }

  #software {
    row-gap: 190px;
    column-gap: 50px;
  }

  .softbar {
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 110px;
  }

  .img-logo {
    width: 100px;
  }

  .pj {
    width: 200px;
    height: 200px;
  }

  .pj p {
    font-size: calc(0.5rem + 1.5vw);
  }
}
