body {
  transition: all 1s ease-in-out;
  overflow-y: scroll;
  color: white !important;
  animation: fadeIn 1s;
  overflow-x: hidden;
  color: white;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(1.3);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

header {
  min-height: 50px;
  max-height: 75px;
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
  background-color: rgba(0, 0, 0, 0.3);
}

@media (max-height: 620px)
{
  header{
    height: 10vw;
  }
}


@media (orientation: portrait)
{
  .textsec {
    display: none;
  }
  header{
    height: 15vh;
    background-color: rgba(0, 0, 0, 0.2);
  }

}

/* Footer */

.media {
  font-size: calc(1.8rem + 1.2vw);
   text-decoration: none;
}

#footer p {
  font-size: calc(0.7rem + 0.6vw) !important;
}

#footer {
  bottom: 0%;
  width: 100%;
  display: flex;
  height: fit-content;
  flex-direction: column;
  justify-content: center;
  background-color: #12151b;
}

#social {
  display: flex;
  justify-content: center;
}

#footer a {
  transition: 0.2s;
}

#footer a:hover {
  color: #054579;
}

#copyright {
  margin: auto;
  text-align: center;
  color: white;
  font-weight: 130;
  margin-bottom: 20px;
}

#legals {
  color: white;
  text-decoration: none;
}
