/* Footer */

.media {
  font-size: calc(1.8rem + 1.2vw);
   text-decoration: none;
}

#footer p {
  font-size: calc(0.6rem + 0.6vw) !important;
}

#footer {
  position: static;
  bottom: 0%;
  width: 100%;
  display: flex;
  height: fit-content;
  flex-direction: column;
  justify-content: center;
  background-color: #12151b;
}

#social {
  display: flex;
  justify-content: center;
}

#footer a {
  transition: 0.2s;
}

#footer a:hover {
  color: #054579;
}

#copyright {
  margin: auto;
  text-align: center;
  color: white;
  font-weight: 130;
  margin-bottom: 20px;
}

#legals {
  color: white;
  text-decoration: none;
}
