.media {
  font-family: "uncodeicon" !important;
  color: white;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 20px;
  margin-top: 50px;
}

@font-face {
  font-family: "uncodeicon";
  src: url("../fonts/uncode-icons.eot");
  src: url("../fonts/uncode-icons.eot?#iefix") format("embedded-opentype"),
    url("../fonts/uncode-icons.woff2") format("woff2"),
    url("../fonts/uncode-icons.woff") format("woff"),
    url("../fonts/uncode-icons.ttf") format("truetype"),
    url("../fonts/uncode-icons.svg#uncodeicon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

#insta::after {
  content: "\f16d";
}

#youtube::after {
  content: "\f16a";
}
