body,
html {
  width: 100%;
  height: 100%;
  margin: 0;
  font-size: 1em;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif !important;
}

header {
  height: 10%;
  width: 100%;
  z-index: 3;
  position: absolute;
  display: flex;
  align-items: unset !important;
  background-color: rgba(0, 0, 0, 0) !important;
}

#logo {
  height: 75px;
  transition: 0.3s;
}

#logo:hover {
  transform: scale(1.2);
}

#global {
  width: 100%;
  height: 100%;
}

nav {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

ul {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: flex;
  list-style: none;
}

li{
  margin: 0;
  padding: 0;
  position: relative;

}

.nav-item {
  width: 100%;
  text-align: center;
  overflow: hidden;
  position: relative;
}

.nav-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  z-index: 1;
  transition: 0.8s;


}


.nav-item:hover .nav-img {
  /*animation au survol*/
  transform: scale(1.1);
}

.nav-text {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  z-index: 2;
  position: absolute;
  width: 95%;
  text-align: center;
  transform-origin: bottom;
  bottom: 5%;
}

h1{
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif !important;
  color: white;
  font-size: calc(1rem + 0.7vw) !important;
  text-shadow: 1px 3px 5px #000000;
  font-style: normal !important;
  font-weight: 400 !important;
}


a {
  text-decoration: none;
  
}

@media (orientation: portrait) {
  #hamburger {
    display: unset;
  }

  .nav-item {
    height: 100%;
    align-items: center;
  }

  .nav-text {
    bottom: 25%;
    font-size: 6vmin;
  }
  #selection {
    flex-direction: column;
  }

  #logo{
    display: none;
  }
}

@media (max-height: 450px)
{
h1{
  font-size: calc(1rem + 0.2vh) !important;
}

}